<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CannyEdgeDetector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CannyEdgeDetectorKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CannyEdgeDetectorKitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CannyViewer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D22B24D125D1CD9700B4C744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22B24E825D1D48900B4C744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22B24FF25D1D4AA00B4C744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28BE5E425E1806E0024969B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
